name: "Server Deployment"
on:
	push:
  		branches: 
      - master

jobs:
	deployment:
  	runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Say Hell0 123!
    run: echo "Hello there!"